In [1]:
# importa las librerias necesarias

import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import fastparquet as fp 
import ast
import numpy as np

In [7]:
# se carga el parquet steam games en la variable juegos

juegos = pd.read_parquet("Data/steam_games.parquet")

juegos.head(2)

,genres,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,Año_estreno,publisher,app_name,title,developer
0,Action,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,4.49,['Single-player'],4.99,False,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro
1,Casual,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,4.49,['Single-player'],4.99,False,761140,NaN,2018,Kotoshiro,Lost Summoner Kitty,Lost Summoner Kitty,Kotoshiro

In [3]:
# cargha el dataset normalizado items 

articulos = pd.read_parquet("Data/australian_user_items.parquet")

articulos.head(2)

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...

In [4]:
# Carga del dataset normalizado juegos de la plataforma user review

reseñas = pd.read_parquet("Data/australian_user_review.parquet")

reseñas.head(2)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,sentiment_analisis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,2011-11-05,None,1250,No ratings yet,True,2
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,2011-07-15,None,22200,No ratings yet,True,2

In [27]:
# Seleccionamos las columnas 'genres' e 'id' del dataframe 'juegos' y creamos un nuevo dataframe llamado 'columna'
columna = juegos[["genres", "id", "Año_estreno"]]

# Cambiamos el nombre de la columna 'id' a 'item_id' para que coincida con la columna en el dataframe 'articulos'
columna = columna.rename(columns={"id": "item_id"})

# Mostramos el nuevo dataframe 'columna'
columna

           genres  item_id Año_estreno
0          Action   761140        2018
1          Casual   761140        2018
2           Indie   761140        2018
3      Simulation   761140        2018
4        Strategy   761140        2018
...           ...      ...         ...
71546       Indie   610660        2018
71547      Racing   610660        2018
71548  Simulation   610660        2018
71549      Casual   658870        2017
71550       Indie   658870        2017

[71551 rows x 3 columns]

#### Se prepara la tabla de la cual consumira la funcion: def PlayTimeGenre( genero : str ) y def UserForGenre( genero : str ) para retornar las consultas que se pide.

In [28]:
# Seleccionamos las columnas 'item_id', 'playtime_forever', 'user_id' y 'user_url' del dataframe 'articulos'

tiempo_juego = articulos[["item_id", "playtime_forever", "user_id", "user_url"]]

# Mostramos el nuevo dataframe 'tiempo_juego'

tiempo_juego

,item_id,playtime_forever,user_id,user_url
0,10,6,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,7,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...
5094100,346330,0,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094101,373330,0,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094102,388490,3,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094103,521570,4,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5094104,519140,3,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [29]:
# Realizamos una operación de combinación (merge) entre los dataframes 'tiempo_juego' y 'columna' utilizando la columna común 'item_id'

tiempo_juego = tiempo_juego.merge(columna, on="item_id")

# Mostramos el nuevo dataframe 'tiempo_juego' después de la operación de combinación

tiempo_juego

,item_id,playtime_forever,user_id,user_url,genres,Año_estreno
0,10,6,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Action,2000
1,10,0,js41637,http://steamcommunity.com/id/js41637,Action,2000
2,10,0,Riot-Punch,http://steamcommunity.com/id/Riot-Punch,Action,2000
3,10,93,doctr,http://steamcommunity.com/id/doctr,Action,2000
4,10,108,corrupted_soul,http://steamcommunity.com/id/corrupted_soul,Action,2000
...,...,...,...,...,...,...
9877299,354280,164,76561198107283457,http://steamcommunity.com/profiles/76561198107...,Indie,2016
9877300,354280,164,76561198107283457,http://steamcommunity.com/profiles/76561198107...,Simulation,2016
9877301,433920,0,inven,http://steamcommunity.com/id/inven,Adventure,2016
9877302,433920,0,inven,http://steamcommunity.com/id/inven,Indie,2016
9877303,433920,0,inven,http://steamcommunity.com/id/inven,RPG,2016

In [30]:
# Eliminamos la columna 'item_id' del dataframe 'tiempo_juego'

tiempo_juego = tiempo_juego.drop("item_id", axis=1)

# Mostramos el nuevo dataframe 'tiempo_juego' después de eliminar la columna

tiempo_juego

,playtime_forever,user_id,user_url,genres,Año_estreno
0,6,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Action,2000
1,0,js41637,http://steamcommunity.com/id/js41637,Action,2000
2,0,Riot-Punch,http://steamcommunity.com/id/Riot-Punch,Action,2000
3,93,doctr,http://steamcommunity.com/id/doctr,Action,2000
4,108,corrupted_soul,http://steamcommunity.com/id/corrupted_soul,Action,2000
...,...,...,...,...,...
9877299,164,76561198107283457,http://steamcommunity.com/profiles/76561198107...,Indie,2016
9877300,164,76561198107283457,http://steamcommunity.com/profiles/76561198107...,Simulation,2016
9877301,0,inven,http://steamcommunity.com/id/inven,Adventure,2016
9877302,0,inven,http://steamcommunity.com/id/inven,Indie,2016
9877303,0,inven,http://steamcommunity.com/id/inven,RPG,2016

In [31]:
# Agrupamos el dataframe 'tiempo_juego' por las columnas 'genres', 'user_id' y 'user_url', sumando las horas jugadas para cada grupo

horas_usuario = tiempo_juego.groupby(["genres", "user_id", "user_url", "Año_estreno"])["playtime_forever"].sum().reset_index()

# Ordenamos el dataframe 'horas_usuario' por la columna 'playtime_forever' de forma descendente (mayor a menor)

horas_usuario = horas_usuario.sort_values(by="playtime_forever", ascending=False)

# Mostramos el nuevo dataframe 'horas_usuario'

horas_usuario

,genres,user_id,user_url,Año_estreno,playtime_forever
1970488,Indie,REBAS_AS_F-T,http://steamcommunity.com/id/REBAS_AS_F-T,2016,815989
937363,Adventure,REBAS_AS_F-T,http://steamcommunity.com/id/REBAS_AS_F-T,2016,790293
2041226,Indie,idonothack,http://steamcommunity.com/id/idonothack,2015,765171
1252456,Casual,idonothack,http://steamcommunity.com/id/idonothack,2015,759451
1631606,Free to Play,idonothack,http://steamcommunity.com/id/idonothack,2015,757025
...,...,...,...,...,...
3027349,Simulation,thestreetsshallrunwhite,http://steamcommunity.com/id/thestreetsshallru...,2000,0
537498,Action,controgopher,http://steamcommunity.com/id/controgopher,1997,0
2207197,Massively Multiplayer,76561198089350016,http://steamcommunity.com/profiles/76561198089...,2011,0
2207196,Massively Multiplayer,76561198089349493,http://steamcommunity.com/profiles/76561198089...,2015,0
1030023,Adventure,portello,http://steamcommunity.com/id/portello,1998,0

+ def **PlayTimeGenre( *`genero` : str* )**:
    Debe devolver `año` con mas horas jugadas para dicho género.
  
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

In [10]:
def PlayTimeGenre(genero):
    # Filtrar el dataframe por el género específico
    df_genre = horas_usuario[horas_usuario['genres'] == genero]

    # Si no hay datos para el género, devolver un mensaje indicando esto
    if df_genre.empty:
        return f"No hay datos para el género '{genero}'."

    # Encontrar el año con más horas jugadas para el género específico
    año_con_mas_horas = df_genre.groupby('Año_estreno')['playtime_forever'].sum().idxmax()

    return año_con_mas_horas

In [12]:
genero_deseado = "Adventure"  # Reemplazar con el género que estás buscando
año_con_mas_horas = PlayTimeGenre(genero_deseado)
print(f"Año de lanzamiento con más horas jugadas para Género: '{genero_deseado}' es: {año_con_mas_horas}")

Año de lanzamiento con más horas jugadas para Género: 'Adventure' es: 2011

+ def **UserForGenre( *`genero` : str* )**:
    Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf,
			     "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [13]:
def UserForGenre(genero):
    # Filtrar el dataframe por el género específico
    df_genre = horas_usuario[horas_usuario['genres'] == genero]

    # Si no hay datos para el género, devolver un mensaje indicando esto
    if df_genre.empty:
        return {"mensaje": f"No hay datos para el género '{genero}'."}

    # Encontrar el usuario con más horas jugadas para el género específico
    usuario_con_mas_horas = df_genre.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Crear una lista de la acumulación de horas jugadas por año
    acumulacion_por_anio = df_genre.groupby('Año_estreno')['playtime_forever'].sum().reset_index()
    acumulacion_por_anio = acumulacion_por_anio.rename(columns={"playtime_forever": "Horas"})
    lista_acumulacion = acumulacion_por_anio.to_dict(orient='records')

    # Crear la salida en forma de diccionario
    salida = {
        "Usuario con más horas jugadas para Género": usuario_con_mas_horas,
        "Horas jugadas": lista_acumulacion
    }

    return salida

In [14]:
genero_deseado = 'Indie'  # Reemplazar con el género que estás buscando
resultado = UserForGenre(genero_deseado)

# Verificar si hay un mensaje indicando que no hay datos para el género
if 'mensaje' in resultado:
    print(resultado['mensaje'])
else:
    # Imprimir el usuario con más horas jugadas
    print(f"Usuario con más horas jugadas para Género '{genero_deseado}': Usuario: {resultado['Usuario con más horas jugadas para Género']}")
    
    # Imprimir la acumulación de horas jugadas por año
    print("Acumulación de horas jugadas por año:")
    for item in resultado['Horas jugadas']:
        print(f"Año: {item['Año_estreno']}, Horas: {item['Horas']}")

Usuario con más horas jugadas para Género 'Indie': Usuario: REBAS_AS_F-T
Acumulación de horas jugadas por año:
Año: 1988, Horas: 13962
Año: 1995, Horas: 3168
Año: 1996, Horas: 570
Año: 1997, Horas: 64285
Año: 1998, Horas: 19957
Año: 1999, Horas: 627007
Año: 2000, Horas: 5304
Año: 2001, Horas: 88452
Año: 2002, Horas: 37884
Año: 2003, Horas: 2127360
Año: 2004, Horas: 43179
Año: 2005, Horas: 336270
Año: 2006, Horas: 446115272
Año: 2007, Horas: 1340117
Año: 2008, Horas: 5255612
Año: 2009, Horas: 3809521
Año: 2010, Horas: 8533237
Año: 2011, Horas: 225373412
Año: 2012, Horas: 123173589
Año: 2013, Horas: 177347758
Año: 2014, Horas: 92181876
Año: 2015, Horas: 173592517
Año: 2016, Horas: 89577357
Año: 2017, Horas: 125594175
Año: 2018, Horas: 2326
Año: sin dato, Horas: 209362

#### Se prepara la tabla de la cual consumira la funcion: def UsersRecommend( año : int )

In [32]:
juegos = juegos.rename(columns={'id': 'item_id'})

In [33]:
articulos = articulos.rename(columns={'item_name': 'title'})

# Unir los DataFrames por la columna 'item_id'
recomendado = pd.merge(juegos, articulos, on='item_id', how='inner')

In [35]:
# Realiza una fusión (merge) de los DataFrames "recomendado" y "reseñas"
# utilizando las columnas 'user_id' y 'item_id' como clave, de manera interna ('inner').

recomendado_usuario = pd.merge(recomendado, reseñas, on=['user_id', 'item_id'], how='inner')

In [36]:
recomendado_usuario.columns

Index(['genres', 'url', 'release_date', 'tags', 'reviews_url',
       'discount_price', 'specs', 'price', 'early_access', 'item_id',
       'metascore', 'Año_estreno', 'publisher', 'app_name', 'title_x',
       'developer', 'title_y', 'playtime_forever', 'playtime_2weeks',
       'steam_id', 'items_count', 'user_id', 'user_url_x', 'user_url_y',
       'funny', 'posted', 'last_edited', 'helpful', 'recommend',
       'sentiment_analisis'],
      dtype='object')

In [37]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['genres', 'url', 'release_date', 'tags', 'reviews_url',
       'discount_price', 'specs', 'price', 'early_access', 'item_id',
       'metascore','publisher', 'app_name', 'title_x',
       'playtime_forever', 'playtime_2weeks',
       'steam_id', 'items_count', 'user_id', 'user_url_x', 'user_url_y',
       'funny', 'posted', 'last_edited', 'helpful']
       

# Eliminar las columnas
recomendado_usuario = recomendado_usuario.drop(columnas_a_eliminar, axis=1)

In [38]:
recomendado_usuario

,Año_estreno,developer,title_y,recommend,sentiment_analisis
0,1998,Valve,Half-Life,True,1
1,1998,Valve,Half-Life,True,1
2,1998,Valve,Half-Life,True,1
3,1998,Valve,Half-Life,True,2
4,1998,Valve,Half-Life,True,1
...,...,...,...,...,...
33529,2000,Valve,Counter-Strike,True,2
33530,2000,Valve,Counter-Strike,True,1
33531,2004,"Epic Games, Inc.",Unreal Tournament 2004,True,2
33532,2004,"Epic Games, Inc.",Unreal Tournament 2004,True,0
33533,2004,Valve,Counter-Strike: Condition Zero,False,0

In [39]:
# renombra la columna title_x a tilte

recomendado_usuario.rename(columns={'title_y': 'title'}, inplace=True)

In [40]:
duplicates = recomendado_usuario[recomendado_usuario.duplicated()]

# Mostrar las filas duplicadas (si las hay)
if not duplicates.empty:
    print("Filas duplicadas encontradas:")
    print(duplicates)
else:
    print("No hay filas duplicadas en el DataFrame.")

Filas duplicadas encontradas:
      Año_estreno developer                  title  recommend  \
1            1998     Valve              Half-Life       True
2            1998     Valve              Half-Life       True
4            1998     Valve              Half-Life       True
6            1998     Valve              Half-Life       True
7            1998     Valve              Half-Life       True
...           ...       ...                    ...        ...
33521        1999     Valve  Team Fortress Classic      False
33525        2000     Valve         Counter-Strike       True
33528        2000     Valve         Counter-Strike       True
33529        2000     Valve         Counter-Strike       True
33530        2000     Valve         Counter-Strike       True

       sentiment_analisis
1                       1
2                       1
4                       1
6                       1
7                       2
...                   ...
33521                   1
33525                   2
33528                   2
33529                   2
33530                   1

[31585 rows x 5 columns]

In [41]:
recomendado_usuario = recomendado_usuario.drop_duplicates()

# Verificar nuevamente si hay filas duplicadas después de la eliminación
duplicates_after_removal = recomendado_usuario[recomendado_usuario.duplicated()]

# Mostrar las filas duplicadas (si las hay) después de la eliminación
if not duplicates_after_removal.empty:
    print("Filas duplicadas encontradas después de la eliminación:")
    print(duplicates_after_removal)
else:
    print("No hay filas duplicadas en el DataFrame después de la eliminación.")

No hay filas duplicadas en el DataFrame después de la eliminación.

+ def **UsersRecommend( *`año` : int* )**:
   Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
  
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [42]:
def UsersRecommend(recomendado_usuario, año):
    # Convertir el año a string
    año = str(año)

    # Filtrar por el año dado
    df_year = recomendado_usuario[recomendado_usuario['Año_estreno'] == año]

    # Verificar si hay datos para el año dado
    if df_year.empty:
        return f"No hay datos para el año {año}."

    # Filtrar por recomendaciones positivas y comentarios positivos/neutrales
    df_recommendations = df_year[(df_year['recommend'] == True) & (df_year['sentiment_analisis'] >= 1)]

    # Verificar si hay juegos recomendados para el año dado
    if df_recommendations.empty:
        return f"No hay juegos recomendados para el año {año}."

    # Agrupar por el título del juego y sumar el 'sentiment_analisis'
    grouped_games = df_recommendations.groupby('title')['sentiment_analisis'].sum()

    # Obtener el top 3 de juegos más recomendados
    top_3_games = grouped_games.nlargest(3)

    # Crear la lista de salida en el formato deseado
    output_list = []
    for i in range(min(3, len(top_3_games))):
        output_list.append({"Puesto {}".format(i+1): top_3_games.index[i]})

    return output_list

In [44]:
año_deseado = 1997  # Reemplazar con el año que estás buscando
resultado = UsersRecommend(recomendado_usuario, año_deseado)
print(resultado)

[{'Puesto 1': "Oddworld: Abe's Oddysee"}, {'Puesto 2': 'STAR WARS‚Ñ¢ Jedi Knight: Dark Forces II'}, {'Puesto 3': 'Fallout'}]

+ def **UsersWorstDeveloper( *`año` : int* )**:
   Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
  
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [45]:
def UsersWorstDeveloper(dataframe, año):
    # Convertir el año a string
    año = str(año)

    # Filtrar por el año dado
    df_year = dataframe[dataframe['Año_estreno'] == año]

    # Verificar si hay datos para el año dado
    if df_year.empty:
        return f"No hay datos para el año {año}."

    # Filtrar por recomendaciones negativas y comentarios negativos/neutrales
    df_recommendations = df_year[(df_year['recommend'] == False) & (df_year['sentiment_analisis'] <= 1)]

    # Verificar si hay juegos no recomendados para el año dado
    if df_recommendations.empty:
        return f"No hay juegos no recomendados para el año {año}."

    # Agrupar por el desarrollador del juego y sumar el 'sentiment_analisis'
    grouped_developers = df_recommendations.groupby('developer')['sentiment_analisis'].sum()

    # Obtener el top 3 de desarrolladores con juegos menos recomendados
    worst_3_developers = grouped_developers.nsmallest(3)

    # Crear la lista de salida en el formato deseado
    output_list = []
    for i in range(len(worst_3_developers)):
        output_list.append({"Puesto {}".format(i+1): worst_3_developers.index[i]})

    # Imprimir un mensaje de aviso si hay menos de 3 juegos en la salida
    if len(worst_3_developers) < 3:
        print("Advertencia: Solo se encontraron {} juegos menos recomendados para el año {}.".format(len(worst_3_developers), año))

    return output_list

In [47]:
año_deseado = 2001  # Reemplazar con el año que estás buscando
resultado = UsersWorstDeveloper(recomendado_usuario, año_deseado)
print(resultado)

Advertencia: Solo se encontraron 1 juegos menos recomendados para el año 2001.
[{'Puesto 1': 'Reality Pump'}]

#### Se prepara la tabla de la cual consumira la funcion: def sentiment_analysis( empresa desarrolladora : str )

In [15]:
# Selecciona las columnas "id" y "Año_estreno" del DataFrame llamado "juegos".
sentimiento = juegos[["id","Año_estreno","developer"]]

# Renombra la columna "id" a "item_id" utilizando el método rename.
sentimiento = sentimiento.rename(columns={"id":"item_id"})

# Almacena el resultado en una nueva variable llamada "sentimiento".
sentimiento

       item_id Año_estreno                 developer
0       761140        2018                 Kotoshiro
1       761140        2018                 Kotoshiro
2       761140        2018                 Kotoshiro
3       761140        2018                 Kotoshiro
4       761140        2018                 Kotoshiro
...        ...         ...                       ...
71546   610660        2018  Laush Dmitriy Sergeevich
71547   610660        2018  Laush Dmitriy Sergeevich
71548   610660        2018  Laush Dmitriy Sergeevich
71549   658870        2017             xropi,stev3ns
71550   658870        2017             xropi,stev3ns

[71551 rows x 3 columns]

In [33]:
duplicates = sentimiento[sentimiento.duplicated()]

# Mostrar las filas duplicadas (si las hay)
if not duplicates.empty:
    print("Filas duplicadas encontradas:")
    print(duplicates)
else:
    print("No hay filas duplicadas en el DataFrame.")

No hay filas duplicadas en el DataFrame.

In [17]:
sentimiento = sentimiento.drop_duplicates()

# Verificar nuevamente si hay filas duplicadas después de la eliminación
duplicates_after_removal = sentimiento[sentimiento.duplicated()]

# Mostrar las filas duplicadas (si las hay) después de la eliminación
if not duplicates_after_removal.empty:
    print("Filas duplicadas encontradas después de la eliminación:")
    print(duplicates_after_removal)
else:
    print("No hay filas duplicadas en el DataFrame después de la eliminación.")

No hay filas duplicadas en el DataFrame después de la eliminación.

In [18]:
sentimiento

       item_id Año_estreno                 developer
0       761140        2018                 Kotoshiro
5       643980        2018          Secret Level SRL
9       670290        2017              Poolians.com
14      767400        2017                      彼岸领域
17      772540        2018       Trickjump Games Ltd
...        ...         ...                       ...
71535   745400        2018           Bidoniera Games
71539   773640        2018        Nikita "Ghost_RUS"
71543   733530        2018                    Sacada
71546   610660        2018  Laush Dmitriy Sergeevich
71549   658870        2017             xropi,stev3ns

[28850 rows x 3 columns]

In [19]:
sentimiento.dtypes

item_id         int64
Año_estreno    object
developer      object
dtype: object

In [20]:
# Combina (merge) los DataFrames "reseñas" y "sentimiento" utilizando la columna "item_id" como clave de unión.
analisis_sentimiento = reseñas.merge(sentimiento, on="item_id")

# Almacena el resultado en una nueva variable llamada "analisis_sentimiento".
analisis_sentimiento

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,sentiment_analisis,Año_estreno,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,2011-11-05,None,1250,No ratings yet,True,2,2009,Tripwire Interactive
1,death-hunter,http://steamcommunity.com/id/death-hunter,None,2015-03-30,None,1250,No ratings yet,True,2,2009,Tripwire Interactive
2,DJKamBer,http://steamcommunity.com/id/DJKamBer,None,2013-07-12,None,1250,No ratings yet,True,2,2009,Tripwire Interactive
3,diego9031,http://steamcommunity.com/id/diego9031,None,2015-08-13,None,1250,No ratings yet,True,1,2009,Tripwire Interactive
4,76561198081962345,http://steamcommunity.com/profiles/76561198081...,None,2014-04-05,None,1250,No ratings yet,True,1,2009,Tripwire Interactive
...,...,...,...,...,...,...,...,...,...,...,...
50325,NikitaOsworth1991,http://steamcommunity.com/id/NikitaOsworth1991,None,2015-10-29,None,307130,1 of 5 people (20%) found this review helpful,True,1,2014,Legend Studio
50326,pigeonie,http://steamcommunity.com/id/pigeonie,None,None,None,209120,3 of 6 people (50%) found this review helpful,True,1,2012,"Capcom U.S.A., Inc."
50327,wayfeng,http://steamcommunity.com/id/wayfeng,1 person found this review funny,None,Last edited August 13.,220090,3 of 6 people (50%) found this review helpful,True,0,2013,SkyGoblin
50328,wayfeng,http://steamcommunity.com/id/wayfeng,None,None,None,262850,0 of 1 people (0%) found this review helpful,True,0,2014,SkyGoblin
50329,76561198254993106,http://steamcommunity.com/profiles/76561198254...,None,None,None,431510,8 of 9 people (89%) found this review helpful,True,2,2016,Aeon Dream Studios

In [30]:
# Borra las columnas especificadas del DataFrame "analisis_sentimiento".
analisis_sentimiento = analisis_sentimiento.drop(['user_id', 'user_url', 'funny', 'posted', 'last_edited', 'item_id',
                                                  'helpful'], axis=1)

+ def **sentiment_analysis( *`empresa desarrolladora` : str* )**:
    Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista con la cantidad total 
    de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor. 

Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}

In [31]:
def sentiment_analysis(desarrolladora):
    # Mapeo de los valores de 'sentiment_analisis' a las cadenas de texto correspondientes
    sentiment_mapping = {0: 'Negative', 1: 'Neutral', 2: 'Positive'}

    # Filtrar el dataframe por la desarrolladora especificada
    df_developer = analisis_sentimiento[analisis_sentimiento['developer'] == desarrolladora]

    # Si no hay datos para la desarrolladora, devolver un mensaje indicando esto
    if df_developer.empty:
        return {desarrolladora: "No hay datos para la desarrolladora."}

    # Reemplazar los valores en 'sentiment_analisis' con las cadenas de texto correspondientes
    df_developer['sentiment_analisis'] = df_developer['sentiment_analisis'].map(sentiment_mapping)

    # Contar el número de registros de reseñas de usuarios que se encuentran categorizados con un análisis de sentimiento
    sentiment_counts = df_developer['sentiment_analisis'].value_counts().to_dict()

    # Crear la lista de salida en el formato deseado
    output_list = [f"{key} = {value}" for key, value in sentiment_counts.items()]

    return {desarrolladora: output_list}

In [38]:
# Ingresar el nombre de la empresa desarrolladora
desarrolladora = "SEGA"  # Reemplazar con el nombre de la empresa desarrolladora que estás buscando

# Llamar a la función con el nombre de la empresa desarrolladora
resultado = sentiment_analysis(desarrolladora)

# Imprimir el resultado
print(resultado)

{'SEGA': ['Positive = 21', 'Neutral = 11', 'Negative = 6']}

C:\Users\JAGER\AppData\Local\Temp\ipykernel_9460\527286723.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer['sentiment_analisis'] = df_developer['sentiment_analisis'].map(sentiment_mapping)

In [ ]:
# Especifica la ruta donde deseas guardar el archivo Parquet
ruta_guardado = 'Data/TimeGenre.parquet'

# Guarda el DataFrame en formato Parquet
horas_usuario.to_parquet(ruta_guardado, index=False)

print(f'DataFrame guardado en: {ruta_guardado}')

In [ ]:
# Especifica la ruta donde deseas guardar el archivo Parquet
ruta_guardado = 'Data/ForGenre.parquet'

# Guarda el DataFrame en formato Parquet
horas_usuario.to_parquet(ruta_guardado, index=False)

print(f'DataFrame guardado en: {ruta_guardado}')

In [ ]:
# Especifica la ruta donde deseas guardar el archivo Parquet
ruta_guardado = 'Data/Recommend.parquet'

# Guarda el DataFrame en formato Parquet
recomendado_usuario.to_parquet(ruta_guardado, index=False)

print(f'DataFrame guardado en: {ruta_guardado}')

In [ ]:
# Especifica la ruta donde deseas guardar el archivo Parquet
ruta_guardado = 'Data/wortsRecommend.parquet'

# Guarda el DataFrame en formato Parquet
recomendado_usuario.to_parquet(ruta_guardado, index=False)

print(f'DataFrame guardado en: {ruta_guardado}')

In [39]:
# Especifica la ruta donde deseas guardar el archivo Parquet
ruta_guardado = 'Data/Sentiment.parquet'

# Guarda el DataFrame en formato Parquet
analisis_sentimiento.to_parquet(ruta_guardado, index=False)

print(f'DataFrame guardado en: {ruta_guardado}')

DataFrame guardado en: Data/Sentiment.parquet